app = 'lingual-bio-web'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    API_URL = 'https://lingual-bio-api.fly.dev'
    NEXT_PUBLIC_API_MODE = 'live'
    NEXT_PUBLIC_API_URL = '/api/v1'

[env]
  API_URL = 'https://lingual-bio-api.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[http_service.checks]]
  interval = '30s'
  timeout = '10s'
  grace_period = '30s'
  path = '/'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
